@import "../../styles/module.scss";

.header {
  @include wrapper-width;
}

.header-wrapper {
  padding: 20px 0;

  @include max-lg {
    padding: 10px 0;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  max-height: 120px;

  @include max-lg {
    max-height: 90px;
  }
}

.language-box {
  position: absolute;
  top: 0;
  right: 0;
}

.header-info {
  margin-top: 25px;

  @include max-lg {
    margin-top: 40px;
  }
}

.header-info-row {
  &:first-child {
    margin-bottom: 15px;
  }
  display: flex;
  align-items: center;
}

.header-info-icon {
  width: 16px;
  height: 16px;
  color: $primary-color;
  margin-right: 5px;

  @include max-lg {
    width: 14px;
    height: 14px;
  }
}

.header-info-text {
  font-size: 16px;
  line-height: 1;
  color: $primary-color;

  @include max-lg {
    font-size: 14px;
  }
}
