@import "../../styles/module.scss";

.language-box {
  overflow: hidden;
  height: 40px;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
}

.open {
  box-shadow: -1px 1px 10px -3px rgb(0 0 0 / 30%);
}

.lang-box-opt {
  cursor: pointer;
  font-weight: 700;
  min-height: 40px;
  width: 85px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: $white-color;
  position: relative;
  order: 2;

  &:hover {
    &:after {
      border-top-color: #fc4c4b;
    }
    span {
      color: #fc4c4b;
    }
  }

  span {
    transition: all 0.2s linear;
    font-size: 1.3rem;
    margin: 0 2px 0 5px;
    color: $primary-color;
  }
}

.active {
  order: 1;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    transition: all 0.2s linear;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-top: 7px solid $primary-color;
  }
}

.lang-flag {
  width: 25px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.vi-flag {
  background-image: url("/nation-flags/vi.jpg");
}

.en-flag {
  background-image: url("/nation-flags//england.svg");
}

.de-flag {
  background-image: url("/nation-flags/de.jpg");
}
