@import "../../styles/module.scss";

.banner {
  width: 100%;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-heading {
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    transition: transform 0.4s;
    background-color: #fff;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover {
    &:after {
      transform: scale(1);
    }
  }
}

.heading-icon {
  width: 20px;
  height: 20px;
  color: #fff;
  background: transparent;
}
