@import "../../styles/module.scss";

.overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(38, 38, 38, 0.7);
  visibility: visible;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: calc(100% - 120px);
  padding: 25px;
  background-color: #fff;
  opacity: 1;
  z-index: 100;
  overflow: hidden;
  transition: all 0.4s;

  @include max-md {
    width: 100%;
    height: 100vh;
  }
}

.popup-content {
  height: 100%;
  overflow: scroll;
  padding-bottom: 50px;
}

.content-row {
  margin-top: 30px;
}

.content-row-heading {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: $primary-color;

  .content-icon {
    display: inline-block;
    margin-right: 15px;
  }
}

.content-row-main {
  padding: 20px;
  font-size: 15px;
  line-height: 23px;
  color: $gray-color;
  background-color: $white-color-2;
  text-align: left;
}

.content-row-item {
  display: flex;
  margin-bottom: 4px;

  .content-col-left,
  .content-col-right {
    width: 50%;
  }

  .content-col-left {
    text-align: left;
  }

  .content-col-right {
    text-align: right;
  }
}

.content-row-card {
  display: flex;
}

.content-row-img {
  width: 72px;
  height: 48px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  padding: 0 16px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
