@import "../../styles/module.scss";

.category {
  height: 65px;
  background-color: $white-color-2;
  display: flex;
  position: relative;

  &.fixed {
    position: sticky;
    top: 0;
    left: 0;
    // width: calc(100% - 340px);

    @include max-lg {
      width: 100%;
    }
  }
}

.search-box {
  position: absolute;
  display: flex;
  align-items: center;
  width: 0;
  height: 70%;
  background-color: #fff;
  border-radius: 4px;
  z-index: 10;

  &.open {
    box-shadow: 0 0 0 1px #e4e4e4;
    width: 100%;

    .search-input {
      pointer-events: auto;
    }

    .search-close-btn {
      visibility: visible;
    }

    &:focus-within {
      box-shadow: 0 0 0 2px #167f92;

      .search-close-btn {
        border-left-color: #167f92;
      }
    }
  }
}

.search-icon {
  display: inline-block;
  margin: 10px;
  font-size: 28px;
  color: $primary-color;
}

.search-input {
  pointer-events: none;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  background: transparent;
  outline: none;
}

.search-close-btn {
  visibility: hidden;
  font-size: 28px;
  padding: 10px;
  color: $gray-color;
  border-left: 1px solid #e4e4e4;
}

.swiper-button-disabled {
  display: none;
}
