@import "../../styles/module.scss";

.footer {
  background-color: #262626;
  padding: 40px;
  text-align: center;
}

.footer-text {
  margin: 0;
  color: $white-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
