@import "../../styles/module.scss";

.cart-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 72px;
  padding: 8px;
  z-index: 100;

  @include min-lg {
    display: none;
  }
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100vh;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
  z-index: 100;
  background: $white-color;
  display: block;

  @include max-lg {
    width: 100%;
    display: none;
  }
}

.change-quality-btn {
  cursor: pointer;
  width: 30px;
  border: 1px solid #e4e4e4;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  span {
    font-weight: 400;
  }

  &:hover {
    border-color: #fc4c4b;

    span {
      color: #fc4c4b;
    }
  }

  &:disabled {
    cursor: auto;

    &:hover {
      border-color: #e4e4e4;

      span {
        color: #000;
      }
    }
  }

  &__decrease {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__increase {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.select-shipping {
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: #167f92;
  border-radius: 3px;
  color: $white-color;
  font-weight: 700;
  padding: 8px 56px 8px 16px;
  font-size: 16px;
  line-height: 24px;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #fff 0),
    linear-gradient(135deg, #fff 50%, transparent 0),
    linear-gradient(90deg, #fff, #fff);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.checkout-btn {
  width: 100%;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  padding: 15px;
  background-color: #c00a27;
  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  border-radius: 3px;
  font-weight: 700;

  &:hover {
    background-color: #93051c;
  }

  &:disabled {
    background-color: #4d4d4d;
  }
}
