@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&display=swap");

:root {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;

  @include max-3xl {
    padding: 0 20px;
  }
}

main {
  @include wrapper-width;
}

.swiper-slide {
  width: auto !important;

  span {
    cursor: pointer;
    font-size: 17px;
    line-height: 26px;
    padding: 2px 20px;
    color: #0a3847;

    &:hover {
      color: #fc4c4b;
    }
  }

  &.selected {
    background: #fc4c4b;
    border-radius: 999px;
    span {
      color: #fff !important;
    }
  }
}
