.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.col-o-0 {
  margin-left: 0;
}

@include max-xxl {
  .col-xl-0 {
    display: none;
    padding: 0 !important;
    flex: 0 0 0 !important;
    max-width: 0 !important;
  }

  .col-xl-o-0 {
    margin-left: 0 !important;
  }
}

@include max-xl {
  .col-lg-0 {
    display: none;
    padding: 0 !important;
    flex: 0 0 0 !important;
    max-width: 0 !important;
  }

  .col-lg-o-0 {
    margin-left: 0 !important;
  }
}

@include max-lg {
  .col-md-0 {
    display: none;
    padding: 0 !important;
    flex: 0 0 0 !important;
    max-width: 0 !important;
  }

  .col-md-o-0 {
    margin-left: 0 !important;
  }
}

@include max-md {
  .col-sm-0 {
    display: none;
    padding: 0 !important;
    flex: 0 0 0 !important;
    max-width: 0 !important;
  }

  .col-sm-o-0 {
    margin-left: 0 !important;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(($i * 100%) / 12);
    max-width: calc(($i * 100%) / 12);
  }

  .col-o-#{$i} {
    margin-left: calc(($i * 100%) / 12);
  }

  @include max-xxl {
    .col-xl-#{$i} {
      flex: 0 0 calc(($i * 100%) / 12);
      max-width: calc(($i * 100%) / 12);
    }

    .col-xl-o-#{$i} {
      margin-left: calc(($i * 100%) / 12);
    }
  }

  @include max-xl {
    .col-lg-#{$i} {
      flex: 0 0 calc(($i * 100%) / 12);
      max-width: calc(($i * 100%) / 12);
    }

    .col-lg-o-#{$i} {
      margin-left: calc(($i * 100%) / 12);
    }
  }

  @include max-lg {
    .col-md-#{$i} {
      flex: 0 0 calc(($i * 100%) / 12);
      max-width: calc(($i * 100%) / 12);
    }

    .col-md-o-#{$i} {
      margin-left: calc(($i * 100%) / 12);
    }
  }

  @include max-md {
    .col-sm-#{$i} {
      flex: 0 0 calc(($i * 100%) / 12);
      max-width: calc(($i * 100%) / 12);
    }

    .col-sm-o-#{$i} {
      margin-left: calc(($i * 100%) / 12);
    }
  }
}
