// Breakpoints
$breakpoint-3xl: 1440px;
$breakpoint-xxl: 1280px;
$breakpoint-xl: 1024px;
$breakpoint-lg: 990px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$break-xs: 375px;
$container-width: 1200px;
$dot: 1px;
$gutter: 15px;

$dot: 1px;

// Colors
$primary-color: #0a3847;
// $secondary-color: #0447fe;
$black-color: #000;
$white-color: #ffffff;
$white-color-2: #f3f3f3;
$gray-color: #686464;
$warning-color: #ff3c55;
